:root {
    font-family: "Roboto Mono", monospace;
}

body {
    background-image: url(cloud.png);
    background-size: cover;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-y-12 {
    width: 40vw;
}